@{
Layout = "_Layout";
}
<div class="row d-flex align-items-center justify-content-center" style="margin: 100px;">
<div class="col-md-4 card p-3">
   
    <div class="gradient-buttonn center-button" style=" margin-bottom: 20px; margin-left: 120px">
        <a  asp-action="Logout">home</a>
    </div>
</div>
</div>